
header {
  color: white;
  text-align: center;
  background-image: url("../images/yellena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 0px;
}

nav {
  border-color: #870EBB;
}
