
header {
  color: white;
  text-align: center;
  background-image: url("../images/pinkfruit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 0px;
}

nav {
  border-color: red;
}

.ada-education h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 4em;
}

.ada-education p {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  font-size: 2em;
}


.project-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.projects {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: space-around;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 20px;
}

.projects li {
  background-color: #FFF0FA;
  margin-top: 10px;
  border-radius: 50%;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 10px;
}

.projects a {
  text-decoration: none;
  color: #6C0602;
}

.project-container h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}
